* {
    text-decoration: none;
    margin : 0px;
    padding : 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-color: #F5EFE6;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;

}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #C8DBBE;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -web-sticky;
    top: 0;
    background: #395144;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: #C8DBBE;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

     /*CONTENT*/

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

#home img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    padding: 50px 50px 50px 50px;
}

.kolom {
    margin-top: 40px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    padding-top: 80px;
    font-size: 29px;
    font-weight: bold;
    font-family: 'comic sans ms';
    text-decoration: none;
    color: #594545;
}

.deskripsi{
    text-decoration: none;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #594545;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #749F82;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #A8E890;
    text-decoration: none;
}

a.tbl-pink {
    background: #749F82;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #A8E890;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}


.footer {
    background-color: #594545;
    padding: 50px 0px 50px 0px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #594545;
    width: 100%;
    line-height: 50px;
}

footer{
    background-color: #395144;

    margin-top: 231px;
    margin-bottom: 0px;
    padding: 10px;
}

P.author{
    color: #C8DBBE;
}

